@CHARSET "ISO-8859-1";
.form-inline{
	margin-bottom: 50px;
}
.centerspacing{
	margin: 30px;
}
#map{
	width: 1100px; 
	height: 350px;
	background-color: #F0F0F0;	
	margin-bottom: 20px;
}
#events{
	list-style-type: none;
    height:100%;
    padding: 0px;
	
}

.column{
	height:100%;
	weight:100%;
	
}

.div_event_name{
	margin-bottom: 20px;

	padding: 30px;
	

	height: 300px;
}

.div_event_name:hover{
    cursor:pointer;
    background-color: #F0F0F0;
    color:#000000 ;
}




@media screen and (min-width: 1112px) and (max-width: 1200px) {
    #map{
	width: 500px; 
	height: 500px;
    }
}

@media screen and (max-width: 1112px) {
    #map{
	width: 800px; 
	
    }
}
@media screen and (max-width: 900px) {
    #map{
	width: 600px; 
	
    }
}

@media screen and (max-width: 600px) {
    #map{
	width: 300px; 
	height: 250px;
    }
}
@media screen and (max-width: 390px) {
    #map{
	width: 200px; 
	height: 200px;
    }
}